<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codecool Shop</title>
</head>
<body>
    <form action="registration.html" method="post">
        <label for="user-name">Username: </label><br>
        <input type="text" id="user-name"><br>
        <label for="user-email">E-mail: </label><br>
        <input type="email" id="user-email"><br>
        <label for="user-password">Password: </label><br>
        <input type="password" id="user-password"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>